.change_password {
    margin-top: 130px;

    .row .col {
        background-color: #FFF;
        padding: 0;
        box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
    }

    .title {
        padding: 15px;
        border-bottom: 1px solid #f6f7fb;
    }

    .cp_body {
        padding: 15px;
    }


    .submit_action {
        display: flex;
        justify-content: flex-end;
    }
}

.password_pattern_style_tooltip {
    & > .tooltip .tooltip-inner {
        max-width: 450px;
        width: 100%;
    }

    .password_pattern_style {
        list-style-type: disc;
        padding-top: 15px;

        & > li {
            font-size: small;
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;

            &::before {
                color: #FFF;
            }
        }
    }
}

